---
layout: layout
---

<!-- Image to hack wechat -->
<!-- <img src="<%= config['url'] %><%= config['root'] %>img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        <% if (page["header-img"]){ %>
            background-image: url('<%= config.root %><%= page.path.replace('index.html', '') %><%= page["header-img"] %>')
        <% } else { %>
            background-image: url('<%= config["header-img"] %>')
        <% } %>
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        <% page.tags.forEach(function(tag){ %>
                          <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                    <h1><%= page.title %></h1>
                    <h2 class="subheading"><%= page.subtitle || "" %></h2>
                    <span class="meta">
                        Posted by <%- page.author || config.author %> on
                        <%= page.date.format(config.date_format) %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <%- page.content %>
                <hr>
                <ul class="pager">
                    <% if (page.prev){ %>
                        <li class="previous">
                            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; 上一篇</a>
                        </li>
                    <% } %>
                    <% if (page.next){ %>
                        <li class="next">
                            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>">下一篇 &rarr;</a>
                        </li>
                    <% } %>
                </ul>
                <!-- 畅言云评 -->
                <% if(config['changyan_appid']) { %>
                    <div id="SOHUCS" sid="<%= page.title %>"></div>
                <% } %>

            </div>
    <!-- Side Catalog Container -->
        <% if (page.catalog) { %>
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        <% } %>

    <!-- Sidebar Container -->

            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5><a href="<%= config.root %>tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                       <% page.tags.forEach(function(tag){ %>
                          <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </section>
                <% }%>

                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">

                    <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
                    <% }); %>
                </ul>
                <% }%>
            </div>

        </div>
    </div>
</article>

<!-- 畅言云评 -->
<% if(config['changyan_appid']) { %>
    <!--PC和WAP自适应版-->
    <script type="text/javascript">
        (function () {
            var appid = "<%= config['changyan_appid'] %>";
            var conf = "<%= config['changyan_conf'] %>";
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://cy-cdn.kuaizhan.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
        })();
    </script>
<% } %>

<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
<% } %>
